header{
    position: fixed;
    top: 0%;left: 0%;
    width: 100%;
    background-color: chocolate;
    font-size: 45px;
    padding-left: 0%;
}

footer{
    position: fixed;
    bottom: 0%;left: 0%;
    width: 100%;
    background-color: chocolate;
    text-align: center;height: 5%;
}
#t1{
    position: absolute;
    align-items: center;
    top: 38%;
    left: 35%;
}
.second{
    position: absolute;
    top: 2cm;
    left: 1.5cm;
}
body{
    background-image: url(background/image.jpg);
    background-repeat: no-repeat;
    width: 100% 100%;
    background-size: cover;
}
.tab1{
    font-size: 25px;
    color: mediumblue;
}
.tab2{
    font-size: 25px;
    color: mediumblue;
}   
.output{
    top: 5.5cm;
    left: 20cm;
    color: mediumspringgreen;
}